

form>div{
    display: flex;
    flex-direction: column;
    margin: 1em;
    align-items: center;
}
form{
    margin-top: 2rem;
    border: #2d2d2d solid 2px;
    width:80%;
    margin: auto;
    font-size: 2rem;
}
